/* * {
    background-color: rgb(70, 64, 64);
    color: white;
} */
#header-section {
    background-color: black;
    height: 800px;
}

#cover-img {
    background-image: url(image/header2.png);
    background-size: 200px;
    background-position: left;
    background-repeat: no-repeat;
    padding-top: 100px;
    height: 400px;
}

#text-section {
    padding-bottom: 20px;


}

#right-side-img {
    padding-top: 60px;
    padding-left: 100px;
}

.btn {
    border: 1px solid rgb(196, 91, 53);
    border-radius: 5px;
    color: white;
}

.card {
    background-color: black;
    color: white;
}